.menu-category-container, .menu-container {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.menu-category {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3,26.67vw);
}
.menu-category-item {
    height: 10em;
    width: 99%;
    background: black;
    color: white;
    margin: 2px;
    border-radius: 1em;
    text-align: center;
}
